# Python
__pycache__/
*.pyc
*.swp

# Ignore models not in final model directory /models
*.h5
Models/

# Ignore logs
logs/

# Ignore pdbs
nrPDB/

# Ignore metrics directory 
metrics/

# Ignore any temporary files
tmp*

# Ignore distribution files
build/
dist/
HaPi.egg-info/

# Ignore figures folders
figures/

# Ignore mac features
.DS_Store

# Ignore plots
plots/
