# Python
__pycache__/
*.pyc
*.swp

# Ignore models not in final model directory (/models)
*.h5
Models/

# Ignore logs
logs/

# Ignore pdbs
nrPDB/

# Ignore metrics directory 
metrics/

# Ignore any temporary files
tmp*
